<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link ref="icon" href="/img/weather2.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
         {{>header}}
         <p>{{errorMessage}}</p>
         <img src="./img/weather.png" class="center">
    </div>
   
     {{>footer}}
</body>

</html>