<!DOCTYPE html>

<html>

<head>
    <title>about</title>
    <link ref="icon" href="/img/weather2.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>

    <div class="main-content">
         {{>header}}
         <p>This application is designed to get current weather data of a searched location. It uses data from mapbox.com and weatherstack.com!</p>
         <img src="./img/weather.png" class="center">
    </div>

     {{>footer}}
</body>

</html>